* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    text-decoration: none;
    list-style: none;
  }
  body{
    background-color: rgba(126, 125, 125, 0.596);
  }
.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 82, 82);
}
.center{
    height: 55vh;
    width: 25vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 35px;
}
input{
    height: 25px;
    width: 250px;
    margin: 10px 0px 30px 0px;
    border: none;
    border-bottom: 2px solid rgb(88, 88, 88);;
    font-size: 20px;
    font-weight: 500;
    color: rgb(88, 88, 88);
}

input:focus {
    outline: none;
  }
.login-button{
    height: 45px;
    width: 95px;
    margin: 20px 0px 0px 5vw;
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    background-color: rgb(88, 88, 88);
}
/*--------------------------------Home---------------------------------------*/

.home{
    display: flex;
}
ul{
    background-color: rgb(100, 99, 99);
    width: 17em;
    height: 100vh;
    margin-top: -10px;
    padding-top: 100px;
}
h1{
  text-align: center;
  margin-top: 30px;
}
.search-bar{
  display: flex;
  flex-wrap: nowrap;
  margin: 50px 0 0px 0px;
  justify-content: center;
}
.search{
  height: 30px;
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  color: red;
  background-color: #B2B1B1;
}
.search-btn{
  height: 30px;
  width: 70px;
  margin: 11px 0 0px 30px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: green;
  border: none;
  border-radius: 5px;
}
.agent-request-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 77vw;
    margin: 20px 40px 0px 40px;
  }
  
  .agent-request-table td, .agent-request-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .agent-request-table tr:nth-child(even){background-color: #f2f2f2;}
  
  .agent-request-table tr:hover {
      background-color: #868383;
      color: rgb(255, 255, 255);
    }
  
  .agent-request-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #646363;
    color: white;
  }
  .agent-request-table td button{
      width: 50px;
      height: 30px;
      border: none;
      border-radius: 5px;
      font-weight: 700;
      color: rgb(255, 255, 255);
  }
  .agent-request-table td .yes{
    background-color: green;
  }  
  .agent-request-table td .no{
    background-color: red;
    margin: 0px 0px 0 20px;
  }
  .agent-request-table td .block{
    background-color: red;
    margin: 0px 0px 0 20px;
    width: 80px;
      height: 30px;
  }
 
.nonactive{
  color: #646363;
  background-color: white;
  margin: 35px 0 10px 30px;
  font-size: 20px;
  color: rgb(100, 99, 99);
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.link-sizea{
  padding: 13px 35px 13px 35px;
}
.link-sizeb{
  padding: 13px 71px 13px 71px;
}
.link-sizec{
  padding: 13px 46px 13px 46px;
}
.link-sized{
  padding: 13px 83px 13px 83px;
}
.link-sizee{
  padding: 13px 75px 13px 75px;
}
.link-sizef{
  padding: 13px 55px 13px 55px;
}
.active{
  color: rgb(255, 255, 255);
  background-color: rgb(247, 49, 49);
}
li{
  margin: 55px 0 10px 0px;
  font-weight: 800;
}
.nonactive:hover{
  background-color: rgb(22, 119, 38);
  color: rgb(255, 255, 255);
}
